@import "react-slideshow-image/dist/styles.css";

body{
  font-family: 'Didact Gothic', sans-serif;
}
.web-title {
  font-family: 'Monoton', sans-serif;
    font-size: 65px;
    color:black;
}

.bg-color {
  background-color: #E4850F;
}
.logo {
  font-family: 'Luckiest Guy', cursive;;
    -webkit-text-stroke: 1px black;
    color: #F59E0B;
    font-size: 25px;
    color:#fff;
    text-shadow:
	    -3px   #383837,
	    3px   #383837,
	    -3px   #383837,
	    -3px  #383837;
}
:root {
  --main-color: #4a76a8;
}

.bg-main-color {
  background-color: var(--main-color);
}

.text-main-color {
  color: var(--main-color);
}

.border-main-color {
  border-color: var(--main-color);
}
.searchbar {
  width: 800px;
}
@media only screen and (min-width: 400px) {
  .searchbar {
    width: 800px;
  }
}
.bg-image {
  background-image: url(../images/guitar.jpeg);
}


.dropdown-content{
  color: black

}
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 350px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
}